{% extends 'base-sidebar.html' %} 
{% set active_page = "device" %}
{% block content_sidebar %}

<div class="p-3">
  <div class="d-flex">
    <div class="flex-grow-1">
      <h2>Device</h2>
    </div>
  </div>
  <hr class="hr" />
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Type node</th>
        <th scope="col">ID node</th>
      </tr>
    </thead>
    <tbody id="log">
      <!-- loop data here -->
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item active">
            <a class="page-link" href="#">1</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="+1">Next</a>
          </li>
        </ul>
      </nav>
  </div>
</div>

<script>
  data = {{data | tojson}};
  tb = ``;
  index = 1;
  for(d of data){
    let temp = d.split("_");
    tb += `
      <tr>
        <th scope="row">${index}</th>
        <td>${temp[0]}</td>
        <td>${temp[1]}</td>
      </tr>
    `
    index += 1;
  }
  document.getElementById("log").innerHTML = tb;
</script>
{% endblock %}
